<div class="container container-y-spacing">
  <header>
    <app-logo></app-logo>
    <app-theme-toggle></app-theme-toggle>
  </header>
  <main>
    <div class="heading-wrapper">
      <h1 class="text-preset-1 heading-text">
        Analyze your text in real-time.
      </h1>
    </div>
    <section class="text-controls">
      <form>
        <textarea
          class="text-area"
          placeholder="Type your text here..."
          [disabled]="characterLimitExceeded()"
          (input)="updateTextArea($event)"
        ></textarea>
        @if (characterLimitExceeded()) {
        <div class="text-error">
          <app-icon [id]="'information'"></app-icon>
          <span>
            Limit reached! Your text exceeds
            {{ characterLimitCount() }} characters.
          </span>
        </div>
        }
        <div class="text-meta">
          <div class="checkbox-wrapper">
            <app-checkbox
              label="Exclude Spaces"
              [checked]="false"
              (checkedChange)="toggleExcludedSpaces()"
            ></app-checkbox>
            <app-checkbox
              label="Set Character Limit"
              [disabled]="totalCharacters() > 0 && !characterLimitSet()"
              [checked]="false"
              (checkedChange)="toggleCharacterLimit()"
            ></app-checkbox>
            @if (characterLimitSet()) {
            <input
              class="text-input"
              placeholder="0"
              (input)="updateTextLimit($event)"
            />
            }
          </div>
          <div class="text-preset-4 reading-time">
            Approx. reading time: {{ readingTime() }}
          </div>
        </div>
      </form>
    </section>

    <section class="text-data-illustration">
      <app-data-illustration
        colorTheme="char"
        label="Total Characters"
        [value]="totalCharacters()"
      ></app-data-illustration>
      <app-data-illustration
        colorTheme="word"
        label="Word Count"
        [value]="wordCount()"
      ></app-data-illustration>
      <app-data-illustration
        colorTheme="sentence"
        label="Sentence Count"
        [value]="sentenceCount()"
      ></app-data-illustration>
    </section>

    <section class="text-letter-density">
      <h2 class="text-density-title">Letter Density</h2>
      <div class="text-density-list">
        @if (visibleLetters().length) { @for (letter of visibleLetters(); track
        $index) {
        <app-letter-density
          [letter]="letter.letter"
          [count]="letter.count"
          [percentage]="letter.percentage"
        >
        </app-letter-density>
        } @if (letterFrequency().length > 5) {
        <button class="expand-btn" (click)="toggleShowAllLetters()">
          {{ showAllLetters() ? "Show Less" : "Show More" }}
          <span class="material-icons">
            {{ showAllLetters() ? "expand_less" : "expand_more" }}
          </span>
        </button>
        } } @else {
        <div>No characters found. Start typing to see letter density.</div>
        }
      </div>
    </section>
  </main>
</div>
